@using EP.Core.Interfaces.Wallet;
@model EP.Domain.Entities.Order.Order;
@inject IWalletServices _walletServices

@{
    ViewData["Title"] = "نمایش فاکتور";
    bool isFinaly = ((ViewBag.IsFinaly != null) ? ViewBag.IsFinaly : false);
    bool isDiscount = ((ViewBag.IsDiscount != null) ? ViewBag.IsDiscount : false);
    int userId = int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">آموزش</a></li>
            <li class="breadcrumb-item active" aria-current="page"> نمایش فاکتور </li>
        </ul>
    </nav>
</div>

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                <partial name="_SideBar" />
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header><h1> فاکتور شما </h1></header>
                        @if (isFinaly == true)
                        {
                            <div class="alert alert-success">
                                فاکتور با موفقیت پرداخت گردید
                            </div>
                        }
                        @if (isDiscount == true)
                        {
                            <div class="alert alert-success">
                                تخفیف با موفقیت اعمال شد
                            </div>
                        }
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>دوره</th>
                                    <th>تعداد</th>
                                    <th>قیمت</th>
                                    <th>جمع</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OrderDetails)
                                {
                                    <tr>
                                        <td>
                                            <a asp-controller="Course" asp-action="ShowCourse" asp-route-courseId="@item.Course.CourseId" target="_blank">@item.Course.CourseName</a>
                                        </td>
                                        <td>
                                            @item.Count
                                        </td>
                                        <td>@item.Price</td>
                                        <td>
                                            @((item.Count * item.Price).ToString("#,0"))
                                        </td>
                                    </tr>
                                }
                                @if (!Model.IsFinaly)
                                {
                                    <tr>
                                        <form asp-action="UseDiscount" method="post">
                                            <td colspan="3" class="text-left">کد تخفیف</td>
                                            <td>
                                            <input name="orderId" value="@Model.OrderId" hidden />
                                                <input type="text" name="discountCose" class="form-control" />
                                                <input type="submit" class="btn btn-primary btn-block" style="margin-top: 5px" value="اعمال" />
                                            </td>
                                        </form>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="3" class="text-left">جمع کل</td>
                                    <td>
                                        @Model.OrderSum
                                    </td>
                                </tr>
                                @if (!Model.IsFinaly)
                                {
                                    <tr>
                                        <td colspan="2" class="text-left"></td>
                                        <td colspan="2">
                                            @if (_walletServices.GetUserBalanceByUserId(userId) >= @Model.OrderSum)
                                            {
                                                <a class="btn btn-success btn-block" asp-area="UserPanel" asp-controller="Order" asp-action="FinalOrder" asp-route-orderId="@Model.OrderId">تایید فاکتور</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-success btn-block" disabled>تایید فاکتور</a>
                                                <div class="alert alert-danger">
                                                    موجودی کیف پول شما کافی نمی باشد ، لطفا از طریق این
                                                    <a asp-area="UserPanel" asp-controller="Wallet" class="alert-link">لینک</a>
                                                    اقدام به شارژ حساب کنید
                                                </div>
                                            }

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>