@page "{roleId}"
@model EP.Web.Pages.Admin.Roles.EditRoleModel
@{
    List<Permission> permissions = ViewData["Permissions"] as List<Permission>;
    List<int> rolePermissions = ViewData["RolePermissions"] as List<int>;
}

<main class="background-cover">
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        اطلاعات نقش
                    </div>
                    <div class="panel-body">
                        <input asp-for="Role.roleId" hidden/>
                        <div class="form-group">
                            <label>نام نقش</label>
                            <input asp-for="Role.roleName" class="form-control">
                        </div>

                        <button class="btn btn-success">ذخیره اطلاعات</button>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        دسترسی نقش
                    </div>
                    <div class="panel-body">

                        <ul>
                            @foreach (var permission in permissions.Where(p => p.ParentId == null))
                            {
                                <li>

                                    <input type="checkbox" name="selectedPermissions" value="@permission.PermissionId" @((rolePermissions.Any(r => r == permission.PermissionId) ? "checked" : "")) /> @permission.PermissionName

                                    @if (permissions.Any(p => p.ParentId == permission.PermissionId))
                                    {

                                        <ul>

                                            @foreach (var sub in permissions.Where(p => p.ParentId == permission.PermissionId))
                                            {
                                                <li>
                                                    <input type="checkbox" name="selectedPermissions" value="@sub.PermissionId"  @((rolePermissions.Any(r => r == sub.PermissionId) ? "checked" : ""))/> @sub.PermissionName

                                                    @if (permissions.Any(p => p.ParentId == sub.PermissionId))
                                                    {

                                                        <ul>

                                                            @foreach (var sub2 in permissions.Where(p => p.ParentId == sub.PermissionId))
                                                            {
                                                                <li>
                                                                    <input type="checkbox" name="selectedPermissions" value="@sub2.PermissionId" @((rolePermissions.Any(r => r == sub2.PermissionId) ? "checked" : "")) /> @sub2.PermissionName
                                                                </li>
                                                            }

                                                        </ul>

                                                    }

                                                </li>

                                            }

                                        </ul>

                                    }

                                </li>
                            }
                        </ul>

                    </div>
                </div>
            </div>
        </form>
    </div>
</main>