@page
@model EP.Web.Pages.Admin.Discount.IndexModel
@{
}

<div class="panel panel-default">
    <div class="panel-heading">
        کد های تخفیف
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <a asp-page="CreateDiscount" class="btn btn-outline btn-success">ایجاد کد تخفیف جدید</a>
                <br />
                <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
                    <thead>
                        <tr>
                            <th>کد</th>
                            <th>درصد تخفیف</th>
                            <th>تعداد</th>
                            <th>زمان شروع</th>
                            <th>زمان پایان</th>
                            <th>دستورات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var discount in Model.Discounts)
                        {
                            <tr>
                                <td>@discount.DiscountCode</td>
                                <td>@discount.DicountPercent%</td>
                                <td>@discount.UsableCount</td>
                                <td>@discount.StartDate</td>
                                <td>@discount.EndDate</td>
                                <td>
                                    <a asp-page="EditDiscount" asp-route-discountId="@discount.DiscountId" class="btn btn-warning btn-sm">ویرایش</a>
                                    <a asp-page="DeleteDiscount" asp-route-discountId="@discount.DiscountId" class="btn btn-danger btn-sm">حذف</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
