@using EP.Core.DTOs.MainPageViewModel;
@model BoxCourseViewModel

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
    <article>
        <a asp-controller="Course" asp-action="ShowCourse" asp-route-courseId="@Model.CourseId" class="img-layer"><img src="/images/course-images/normal-size/@Model.CourseImage"></a>
        <h2><a asp-controller="Course" asp-action="ShowPost" asp-route-courseId="@Model.CourseId">@Model.CourseTitle</a></h2>
        <span class="text-success">@((Model.CoursePrice == 0)?"رایگان":@Model.CoursePrice.ToString("#,0"))</span>
        <i>@Model.CourseTime</i>
    </article>
</div>