@page
@model EP.Web.Pages.Admin.Users.IndexModel
@{
    string filterUsername = HttpContext.Request.Query["filterUsername"] != "" ? HttpContext.Request.Query["filterUsername"] : "";
    string filterEmail = HttpContext.Request.Query["filterEmail"] != "" ? HttpContext.Request.Query["filterEmail"] : "";
}

<div class="panel panel-default">
    <div class="panel-heading">
        کاربران
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <div class="row">
                    <form>
                        <div class="col-sm-5 col-md-5">
                            <input type="text" name="filterUsername" value="@filterUsername" class="form-control" placeholder="نام کاربری" />
                        </div>
                        <div class="col-sm-5 col-md-5">
                            <input type="text" name="filterEmail" value="@filterEmail" class="form-control" placeholder="ایمیل" />
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <button type="submit" class="btn btn-info">بگرد</button>
                            <a asp-page="Index" class="btn btn-dark">خالی</a>
                        </div>
                    </form>
                </div>
                <br />
                <a asp-page="CreateUser" class="btn btn-outline btn-success">ایجاد کاربر جدید</a>
                <br />
                <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
                    <thead>
                        <tr>
                            <th>نام کاربری</th>
                            <th>ایمیل</th>
                            <th>وضعیت</th>
                            <th>تاریخ ثبت نام</th>
                            <th>دستورات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.UsersModel.Users)
                        {
                            <tr>
                                <td>@user.UserName</td>
                                <td>@user.Email</td>
                                <td>
                                    @if (@user.IsActive)
                                    {
                                        <p class="text-success">کاربر فعال</p>
                                    }
                                    else
                                    {
                                        <p class="text-danger">کاربر غیر فعال</p>
                                    }
                                </td>
                                <td>@user.RegisterDate.ToSolarCalendar()</td>
                                <td>
                                    <a asp-page="EditUser" asp-route-userId="@user.UserId" class="btn btn-warning btn-sm">ویرایش</a>
                                    <a href="#" class="btn btn-danger btn-sm">حذف</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-6">
                        <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                            <ul class="pagination">
                                @for (var i = 1; i <= Model.UsersModel.PageCount; i++)
                                {
                                    <li class="paginate_button @((i==Model.UsersModel.CurrentId) ? "active" : "")" aria-controls="dataTables-example" tabindex="0">
                                        <a href="/Admin/Users?PageId=@i">@i</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>